canvas#canvas.canvas
.toolbar#toolbar
	ul#color-list.color-list
		li
			a(href="#", style="background:#0092B2", data-color="#0092B2", class="selected")
		li
			a(href="#", style="background:#D93D04", data-color="#D93D04")
		li
			a(href="#", style="background:#7F8C1F", data-color="#7F8C1F")
		li
			a(href="#", style="background:#EE913F", data-color="#EE913F")
		li
			a(href="#", style="background:#FFCA3D", data-color="#FFCA3D")
	.thickness-slider#slider