!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jgrowl.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/ui-lightness/jquery-ui.css')
    
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.2.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/jgrowl.min.js')
    script(type='text/javascript', src='/javascripts/modernizr.custom.25112.js')
    script(type='text/javascript', src='/javascripts/jquery.ui.touch-punch.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/jcanvas.min.js')
    script(type='text/javascript', src='/javascripts/canvas.js')
    
  body!= body
